<div id="Footer" class="footer">
     <div class="conteudo_footer">
       <img class="img_footer" src="../../../assets/img/Ebsa-rodape1.png" alt="">
       <p class="texto_footer">
         <strong> Central de atendimento:</strong> 0300 770 1055 <br>
         <strong> Telefones:</strong> (11) 3226 0211 ou (11) 2536-0211 <br>
         <strong> E-mail:</strong> atendimento@editoradobrasil.com.br <br>
         <strong>WhatsApp:</strong>  (11) 99329-5316 <br>
         <strong>Segunda a sexta das 8h às 18h.</strong>
        <p class="texto_endereco">Rua Conselheiro Nébias, 887 | Campos Elíseos
          São Paulo - SP - CEP: 01203-001
          </p>
          <div class="redes_sociais">
          <p class="texto_redes_sociais">Redes Sociais:</p>
          <div class="icons_footer">
            <img (click)="LinkYoutube()" class="icon" src="../../assets/img/fa6-brands_youtube.svg" alt="" style="cursor: pointer;">
            <img (click)="LinkFacebook()" class="icon" src="../../assets/img/fa-brands_facebook-square.svg" alt="" style="cursor: pointer;">
            <img (click)="LinkInstagram()" class="icon" src="../../assets/img/fa6-brands_instagram.svg" alt="" style="cursor: pointer;">
          </div>
        </div>
          <br>
          <br>
     </div>
</div>
